.registration-form {
    background: #1575fb;
    padding: 20px;
    border: 1px solid orangered;
    margin: 50px 0px;
}

.err-msg {
    color:red;
}

.registration-form form {
    border: 1px solid #E8E8E8;
    padding: 10px;
    background: #F3F3F3;
}